/*
estilo1-v2.8.css - 
*/
/* 
    Created on : 05/11/2020, 11:03:27
    Author     : Rodrigo Brittes
*/


*{ /* Para aplicar para todas as tags, usar asterisco */
        box-sizing: border-box;
        margin:0; /*tirou todas as margens */
	padding:0;
}

/* parece não funcionar com o boostrap - funciona se <link href="estilo1.css> for a última linha */
a{
	color:#000000; 
	font-family:verdana;
	font-size:14pt;
	font-weight:bold; /* negrito */
	margin-right:25px;
	text-decoration: none; /* retirar sublinhado */
}
a:hover{
	color:dodgerblue;
        text-decoration:none; /* retirar sublinhado - funciona se <link href="estilo1.css> for a última linha */
}



/* Figuras do cabeçalho */
/* Cabeçalho esquerdo: logomarca */
#cab_esq{
        /*background-color: white; */
	/* background-color: RGB(200, 210, 220); */
        
        display: inline-block;
	height: 145px;      /* estava 160px */
        object-fit: contain;        
        padding-top:10px;
        padding-left:15px;
	width:21%;      /* estava 30%? */
 
}
/* Cabeçalho direito: ícones */
#cab_dir{
        /* background-color: whitesmoke; */
        /* background-color: RGB(240,230,230); */

        display: inline-block;
        float: right;
        padding-top:4.7%; 
        padding-right: 5px;
	/*height: 145px; */
        /*word-spacing:72px;      /* era 103px; depois 86px */
        
        /*height: 145px;*/
         word-spacing:72px;      /* era 103px; depois 86px; depois 72px */

}


/* versão anterior
/*#cab_dir{
        background-color: white;
        /* background-color: RGB(240,230,230); */
        
        /* align-self: flex-start; */
    /*    display: inline-block;
        float: right;
	height: 145px;
        padding-left:0px;        
        padding-top:70px; 
        object-fit: contain;    /* faz alguma diferença? */
    /*   width:55%;               /* 55% */
    /*   word-spacing:100px;      /* era 103px
}*/




/* Menu de navegação sob os ícones */
/* Regra pelo atributo id do html */
#navegar{
	/* margin-right:50px; */
	/*background-color: #e8e6e6; */
	/* line-height:30px; /* alinha o texto na vertical */        
	background-color: whitesmoke;   /* tirar esse fundo depois */
	width:100%; 
	height:30px;
	text-align:right;
	word-spacing:2px;  /* adiciona espaço entre as palavras - era 40px; depois 26px ; depois 16px*/

}

/* Barra colorida */
#barra{
	width:100%; 
	height: 10px;
	float: left; 
	background-color: gold;	
        background-image: linear-gradient(to right, dodgerblue,dodgerblue, gold,gold,gold,gold,gold,gold, red,red);
}




/* Corpo da página */
#main{
	/* width:58%; 
	float: left; */
        /* background-color: whitesmoke;
        background-image: url('web3-triangles-background.jpg'); 
        background-repeat: no-repeat;
        float: center; 
        height: 100%;
        width: auto; */
        
        
        background-image: url('../img/web3-triangles-vertical-background.jpg'); 
        background-position: center;
        background-repeat: repeat-x; 
        /* background-origin: content-box; */
        font-family:verdana;
        height: 95%;
	line-height:30px; /* alinha o texto na vertical */
        padding-left: 15px;
        width: auto;
	
}

/* Divs p/ organizar formulários */
#div1{
    /* float: center; */
    margin-left:11%; /* margem externa - era 20% */

    
}
#div2{
    /* float: center; */
    margin-left:11%; /* margem externa - era 20% */

    
}
#div3{
    /* float: center; */
    margin-left:11%; /* margem externa - era 20% */

    
}








/* CLASSES */
/* Regra pelo atributo class do html */ /* Quando vai aplicar o mesmo estilo em vários pontos */
/* Não lembro onde é isso */
.opcoes{
	margin-left:0px; /* margem externa */
	padding-left:40px; /*margem interna*/
	padding-right:10px;
}

/* Título do corpo da página */
.titulo{
        /* box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
		    0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
		    0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
		    0 0.25rem 0.5rem 0 rgba(200, 100, 100, 1) inset; */
    
        /*background: rgb(200,50,50);*/
	background: orange; 
        border-radius: 10px;
	color: white; /* cor da letra */        
                
	font-family: verdana;
	font-size: 16pt;
        font-weight: bold;
        /*filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));*/
        filter: drop-shadow(0 2px 2px rgb(200, 200, 200));
        height: 8%;
        
        /* li {display: inline;} */
        line-height:55px; /* alinha o texto na vertical */
	margin-left: 2px; /* margem externa */ 
        margin-top:20px;
        margin-bottom:20px;
	padding-left:40px;
        width: 70%;
}


/*
.topnav{
       
    ul.topnav {
        list-style-type: none;
        overflow: hidden;
        background-color: #333;
    }
    ul.topnav li {float:left;}
    /* li.right {float: right;} */
/*    ul.topnav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    ul.topnav li a:hover:not(.active) {background-color: #111;}
    ul.topnav li a.active {background-color: #4CAF50;}
    ul.topnav li.right {float: right;} 
    /*@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    
}
*/


